<ul class="nav nav-tabs">
    <li data-nav="Admin:Product:default"><a href="{plink Product:default $control->getParameter('parameter', [])}">Vše</a></li>
    <li data-nav="Admin:Product:notCompleted"><a href="{plink Product:notCompleted $control->getParameter('parameter', [])}">Rozpracované</a></li>
</ul>