<form n:name="groupForm">
    <div class="form-group">
        {label parameterGroupId/}
        {input parameterGroupId}
    </div>
    <div class="form-group">
        {input submit}
    </div>
</form>