{block content}
{if $category->getGeneralImageDesktop()}
<section class="PageHeaderNew">
	<div class="Container Container--wide">
		{*
		<div class="PageHeaderNew-desktop-bg" style="background-image: url({if $category->getGeneralImageDesktop()}{thumbnailPath 1920, 470, $category->getGeneralImageDesktop(), $category->getUploadFolder()}{else}'/www/assets/front/images/layout/bg-category-rings.jpg'{/if});"></div>
		<div class="PageHeaderNew-mobile-bg" style="background-image: url({if $category->getGeneralImageMobile()}{thumbnailPath 1920, 470, $category->getGeneralImageMobile(), $category->getUploadFolder()}{else}'/www/assets/front/images/layout/bg-category-rings.jpg'{/if});"></div>
		*}

		<div class="PageHeaderNew-desktop-bg" style="background-image: url('/upload/{if $category->getGeneralImageDesktop()}{$category->getUploadFolder()|noescape}/{$category->getGeneralImageDesktop()|noescape}'{else}'/www/assets/front/images/layout/bg-category-rings.jpg'{/if});"></div>
		<div class="PageHeaderNew-mobile-bg" style="background-image: url('/upload/{if $category->getGeneralImageMobile()}{$category->getUploadFolder()|noescape}/{$category->getGeneralImageMobile()|noescape}'{else}'/www/assets/front/images/layout/bg-category-rings.jpg'{/if});"></div>


		<div class="Container Grid CategoryCollection-fixedBtnWrapper">
			<div class="CategoryCollection-fixedBtn">
				<a href="{plink Category:default, url => $category->getUrl()}">
					{_collection.entrance.btnAll}
				</a>
			</div>
		</div>
		
		
		<div class="Container Grid">
			<div class="Grid-cell u-size12of12">
				{if isset($breadcrumbRender)}
					{control breadcrumb:$breadcrumbRender}
				{else}
					{control breadcrumb}
				{/if}

				{if $category->getCollectionSubname()}
					<h1 class="u-mt--25 u-md-mb--0">{$categoryTitle}</h1>
					<div class="PageHeaderNew-subname u-mb--30">{$category->getCollectionSubname()}</div>
				{else}
					<h1 class="u-mt--25 u-mb--40">{$categoryTitle}</h1>
				{/if}				
			</div>
		</div>

	</div>
</section>
		
{if $category->getCollectionPerex() || $category->getCollectionImage() || $category->getCollectionText()}
<div class="PageHeaderNew-text">
	{if $category->getCollectionPerex()}
		<b>{$category->getCollectionPerex()|noescape}</b>
		<br />

		<br />
	{/if}

	{*
	{if $category->getCollectionImage()}
		<br />
		<img src="{thumbnailPath 800, 800, $category->getCollectionImage(), $category->getUploadFolder()}" class="u-mb--20" />
		<br />
	{/if}
	*}
	
	{if $category->getCollectionText()}
		{$category->getCollectionText()|noescape}
		<br /><br /><br />
	{/if}
</div>
{/if}

{else}	
<section class="PageHeader">
    <div class="PageHeader-bg" style="background-image: url({if $category->getGeneralImage()}{thumbnailPath 1920, 470, $category->getGeneralImage(), $category->getUploadFolder()}{else}'/www/assets/front/images/layout/bg-category-rings.jpg'{/if});"></div>

    <div class="Container Grid">
        <div class="Grid-cell u-size12of12">
            {if isset($breadcrumbRender)}
                {control breadcrumb:$breadcrumbRender}
            {else}
                {control breadcrumb}
            {/if}

            {*Whitespace is a workaround for show banner in wave without title*}
            {var $title = !isset($showTitle) || $showTitle === TRUE ? $title : ' '}
            <h1 class="Text-title u-mt--25 u-md-mb--0{ifset $titleClass} {$titleClass}{/ifset}">{$categoryTitle}</h1>
        </div>
    </div>
			
{if $category->getRelatedPageText()}
    <div class="Container Grid Category-relatedPageWrapper">
	    <div class="Category-relatedPageDefault">
			<a href="{$category->getRelatedPageLink()}">
				{$category->getRelatedPageText()|noescape}
			</a>
		</div>
	    <div class="Category-relatedPageScrolled">
			<a href="{$category->getRelatedPageLink()}">
				{$category->getRelatedPageScrolledText()|noescape}
			</a>
		</div>			
	</div>
{/if}
</section>

{if $category->getContent()}
<div class="Container Container--slim Grid u-justifyContentCenter u-textCenter Category-description">
    <div class="Grid-cell u-size12of12">
        <ul class="Expand-list js-expand-list">
            <li class="Expand-item js-toggle Expand-item--open">
                <h3 class="Expand-title js-toggle-switch">
                    <svg role="img" class="Icon Expand-icon">
                        <use xlink:href="#symbol-arr-down"></use>
                    </svg>
                    {if !isset($categoryDescriptionAnchor)}{_category.about.anchor}{else}{$categoryDescriptionAnchor}{/if}</h3>
                <div class="Expand-content js-toggle-content u-textCenter">
                    {$category->getContent()|noescape}
                </div>
            </li>
        </ul>
    </div>
</div>
{/if}

{/if}


{*
<div class="PageHeaderNew-collection-favourite u-mb--60">{_collection.entrance.MostFavourite|noescape} {$category->getTitle()}</div>
	*}
<div class="PageHeaderNew-collection-favourite u-mb--60">{_collection.entrance.MostFavourite|noescape}</div>



<section>
    <div class="Container Container--wide">
        {if $productCount}
            <div class="u-mb--20 u-md-mb--50">
				{control productList}
            </div>
        {/if}
    </div>
</section>


<div class="u-textCenter u-mb--60">
	<a href="{plink Category:default, url => $category->getUrl()}" class="Button Button--arrow">{_collection.entrance.btnAll}</a>
</div>
