<section class="Background Background--gold-lighter">
    <div class="Collection">

        <div class="Container">
            <div class="u-pt--130 u-pb--110">

                <div class="Timeline">
                    <div class="Timeline-row Timeline-row--reverse">
                        <div class="Timeline-item u-size6of12 u-sm-max-size12of12">
                            <div class="Timeline-content Timeline-content--right u-pt--20 u-sm-pt--30">
                                <h3 class="Timeline-title">{_company.preview.goldsmithWorkroom.title}</h3>
                                <p class="Timeline-desc">{_company.preview.goldsmithWorkroom.description|noescape}</p>
                            </div>
                        </div>
                        <div class="Timeline-item u-textCenter u-sm-textLeft u-size6of12 u-sm-max-size12of12">
                            <div class="Timeline-images">
                                <img src="/assets/front/images/layout/zlatnicka-dilna-jak-vznika-sperk-2.jpg" alt="" class="Timeline-image-primary">
                                <img src="/assets/front/images/layout/sperk-vosk-modelovani.jpg" alt="" class="Timeline-image-secondary">
                            </div>
                        </div>
                    </div>
                    <div class="Timeline-row">
                        <div class="Timeline-item u-size6of12 u-sm-max-size12of12">
                            <div class="Timeline-content Timeline-content--right u-pt--20 u-sm-pt--30">
                                <p class="Timeline-desc">{_company.preview.goldsmithWorkroom.description2|noescape}</p>
                                <div class="u-mt--10">
                                    <a href="{plink Page:detail, url => 'o-jk'}" class="Product-link-big">
                        <span class="Link-animation u-md-displayInit Link Link--lineBefore">{_company.preview.goldsmithWorkroom.cta}
                            <span
                                    class="Link--hover"></span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="Timeline-item u-textCenter u-sm-textLeft u-size6of12 u-sm-max-size12of12">
                            <div class="Timeline-images">
                                <img src="/assets/front/images/layout/zlatnicka-dilna-ohen.jpg" alt="" class="Timeline-image-primary">
                                <span class="Timeline-image-stone-1"></span>
                                <span class="Timeline-image-stone-2"></span>
                                <span class="Timeline-image-stone-3"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>