{block contentAdmin}
<div class="row">
    <div class="col-xs-3">
        <a href="{plink User:default}">
            <div class="panel panel-default">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                <div class="panel-body">Uživatelé</div>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a href="{plink Language:default}">
            <div class="panel panel-default">
                <i class="fa fa-language fa-2x" aria-hidden="true"></i>
                <div class="panel-body">Jazyky</div>
            </div>
        </a>
    </div>
    <div class="col-xs-3">
        <a href="{plink Store:default}">
            <div class="panel panel-default">
                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                <div class="panel-body">Otevírací doba prodejny</div>
            </div>
        </a>
    </div>

</div>