Dobrý den,
<br><br>
nedávno někdo pro Váš účet <b>{$email}</b> zažádal o změnu hesla pro přístup do administrace webu.
<br><br>
{capture $passwordResetLink}{link Admin:Password:new hash => $entity->getHash(), userId => $entity->getUserId()}{/capture}
Heslo si můžete změnit kliknutím na <a href="{html_entity_decode($passwordResetLink)|noescape}">tento odkaz</a>.
<br><br>
Pokud jste o změnu hesla nežádali, tuto zprávu ignorujte.
<br>
<br>
{$fromName}