{block nextToTitle}
    <a href="{plink ProductParameter:sort}" class="btn btn-default btn-sm"><i class="fa fa-sort"></i> Řadit</a>
    <a href="{plink ProductParameter:add}" class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Přidat</a>
{/block}
{block contentAdmin}
{include '../ProductParameterGroup/submenu.latte'}
{control productParameterList}