{block content}
<section class="PageHeaderNew">
	<div class="Container Container--wide">
		<div class="PageHeaderNew-desktop-bg" style="background-image: url(/www/assets/front/images/custom_production/header.jpg);"></div>
		<div class="PageHeaderNew-mobile-bg" style="background-image: url(/www/assets/front/images/custom_production/header_mobile.jpg);"></div>

		<div class="Container Grid u-positionRelative">
			<div class="Category-relatedPageDefault">
				<a href="{plink Page:detail, url => 'sjednani-osobni-schuzky'}">
					{_pageStatic.customProduction.personalMeeting|noescape}
				</a>
			</div>
		</div>

				
		<div class="Container Grid u-mt--40 u-md-mt--0">
			<div class="Grid-cell u-size12of12">
				{control breadcrumb}

				<h1 class="Text-title u-mb--0"><b>{_pageStatic.customProduction.title|noescape}</b></h1>
				<h1 class="Text-title Text-title-thin u-mb-40 u-md-mb--60">{_pageStatic.customProduction.introduction.title|noescape}</h1>
			</div>
		</div>
	</div>	
</section>

<section class="Background">
    <div class="Container u-textCenter u-mt--20 u-sm-mt--0">
        <h2 class="CustomProduction-subtitle u-textCenter u-mb--10 u-md-mb--20">{_pageStatic.customProduction.introduction.subtitle|noescape}</h2>

        <div class="CustomProduction-description u-textCenter u-mb--90">{_pageStatic.customProduction.introduction.description|noescape}</div>
    </div>
</section>

<div class="Background Background--rose-lighter">
    <div class="Container u-pt--40 u-md-pt--70 u-pb--0 u-md-pb--120 u-px--0 u-md-px--20">
		<h1 class="h-primary u-textCenter u-mb--50">{_pageStatic.customProduction.steps.header|noescape}</h1>

		<div class="CustomProduction-steps-wrapper">
			<div class="CustomProduction-step-left CustomProduction-step-second">
				<img src="/assets/front/images/custom_production/step_1.jpg" alt="">
			</div>
			<div class="CustomProduction-step-right CustomProduction-step-first">
				<div class="CustomProduction-step-content">
					<div class="CustomProduction-step-number">1</div>
					<div class="CustomProduction-step-title">{_pageStatic.customProduction.steps.step1.title}</div>
					{_pageStatic.customProduction.steps.step1.description}
				</div>
			</div>
		</div>
					
		<div class="CustomProduction-steps-wrapper">
			<div class="CustomProduction-step-left">
				<div class="CustomProduction-step-content">
					<div class="CustomProduction-step-number">2</div>
					<div class="CustomProduction-step-title">{_pageStatic.customProduction.steps.step2.title}</div>
					{_pageStatic.customProduction.steps.step2.description}
				</div>
			</div>
			<div class="CustomProduction-step-right">
				<img src="/assets/front/images/custom_production/step_2.jpg" alt="">
			</div>
		</div>
					
		<div class="CustomProduction-steps-wrapper">
			<div class="CustomProduction-step-left CustomProduction-step-second">
				<img src="/assets/front/images/custom_production/step_3.jpg" alt="">
			</div>
			<div class="CustomProduction-step-right CustomProduction-step-first">
				<div class="CustomProduction-step-content">
					<div class="CustomProduction-step-number">3</div>
					<div class="CustomProduction-step-title">{_pageStatic.customProduction.steps.step3.title}</div>
					{_pageStatic.customProduction.steps.step3.description}
				</div>
			</div>
		</div>
					
		<div class="CustomProduction-steps-wrapper">
			<div class="CustomProduction-step-left">
				<div class="CustomProduction-step-content">
					<div class="CustomProduction-step-number">4</div>
					<div class="CustomProduction-step-title">{_pageStatic.customProduction.steps.step4.title}</div>
					{_pageStatic.customProduction.steps.step4.description}
				</div>
			</div>
			<div class="CustomProduction-step-right">
				<img src="/assets/front/images/custom_production/step_4.jpg" alt="">
			</div>
		</div>
¨
		<div class="CustomProduction-steps-wrapper">
			<div class="CustomProduction-step-left CustomProduction-step-second">
				<img src="/assets/front/images/custom_production/step_5.jpg" alt="">
			</div>
			<div class="CustomProduction-step-right CustomProduction-step-first">
				<div class="CustomProduction-step-content">
					<div class="CustomProduction-step-number">5</div>
					<div class="CustomProduction-step-title">{_pageStatic.customProduction.steps.step5.title}</div>
					{_pageStatic.customProduction.steps.step5.description}
				</div>
			</div>
		</div>
					
		<div class="CustomProduction-steps-wrapper">
			<div class="CustomProduction-step-left">
				<div class="CustomProduction-step-content">
					<div class="CustomProduction-step-number">6</div>
					<div class="CustomProduction-step-title">{_pageStatic.customProduction.steps.step6.title}</div>
					{_pageStatic.customProduction.steps.step6.description}
				</div>
			</div>
			<div class="CustomProduction-step-right">
				<img src="/assets/front/images/custom_production/step_6.jpg" alt="">
			</div>
		</div>
				
    </div>
</div>



<div class="Background Background--gold">
    <div class="Container u-pt--50 u-md-pt--90 u-pb--50 u-md-pb--90">
		<div class="CustomProduction-linesteps-wrapper">
			<div class="CustomProduction-linestep">
				<div class="CustomProduction-linestep-text">
					{_pageStatic.customProduction.lineSteps.step1|noescape}
				</div>
				<div class="CustomProduction-linestep-linewrapper">
					<div class="CustomProduction-linestep-line">
						<div class="CustomProduction-linestep-point">
						</div>
					</div>
				</div>
				<div class="CustomProduction-linestep-empty">
				</div>
			</div>
				
			<div class="CustomProduction-linestep">
				<div class="CustomProduction-linestep-empty">
				</div>
				<div class="CustomProduction-linestep-linewrapper">
					<div class="CustomProduction-linestep-line">
						<div class="CustomProduction-linestep-point">
						</div>
					</div>
				</div>
				<div class="CustomProduction-linestep-text">
					{_pageStatic.customProduction.lineSteps.step2|noescape}
				</div>
			</div>
				
			<div class="CustomProduction-linestep">
				<div class="CustomProduction-linestep-text">
					{_pageStatic.customProduction.lineSteps.step3|noescape}
				</div>
				<div class="CustomProduction-linestep-linewrapper">
					<div class="CustomProduction-linestep-line">
						<div class="CustomProduction-linestep-point">
						</div>
					</div>
				</div>
				<div class="CustomProduction-linestep-empty">
				</div>
			</div>
				
			<div class="CustomProduction-linestep">
				<div class="CustomProduction-linestep-empty">
				</div>
				<div class="CustomProduction-linestep-linewrapper">
					<div class="CustomProduction-linestep-line">
						<div class="CustomProduction-linestep-point">
						</div>
					</div>
				</div>
				<div class="CustomProduction-linestep-text">
					{_pageStatic.customProduction.lineSteps.step4|noescape}
				</div>
			</div>

			<div class="CustomProduction-linestep">
				<div class="CustomProduction-linestep-text">
					{_pageStatic.customProduction.lineSteps.step5|noescape}
				</div>
				<div class="CustomProduction-linestep-linewrapper">
					<div class="CustomProduction-linestep-line">
						<div class="CustomProduction-linestep-point">
						</div>
					</div>
				</div>
				<div class="CustomProduction-linestep-empty">
				</div>
			</div>
				
			<div class="CustomProduction-linestep">
				<div class="CustomProduction-linestep-empty">
				</div>
				<div class="CustomProduction-linestep-linewrapper u-displayNone u-md-displayBlock">
					<div class="CustomProduction-linestep-line">
						<div class="CustomProduction-linestep-point">
						</div>
					</div>
				</div>
				<div class="CustomProduction-linestep-text">
					{_pageStatic.customProduction.lineSteps.step6|noescape}
				</div>
			</div>
								
		</div>
				
    </div>
</div>


<div class="Container u-pt--50 u-md-pt--90 u-pb--50 u-md-pb--90">
	<div class="CustomProduction-meetingTop u-mb--100 u-colorGold">
		{_pageStatic.customProduction.meeting.topText|noescape}
	</div>
	
	<h1 class="h-primary u-textCenter u-mb--60">{_pageStatic.customProduction.meeting.title|noescape}</h1>
	<div class="CustomProduction-meetingTop u-mb--20">
		{_pageStatic.customProduction.meeting.subtitle|noescape}
	</div>
	
	<div class="personalMeeting-form-wrapper u-mt--50">
		{control meetingForm}
	</div>
	
</div>
				

<section class="CustomProduction-banner">
</section>

	
<div class="Background Background--silver">
    <div class="Container">
        <div class="u-pb--45 u-xs-pb--110 u-sm-pb--80 u-md-pb--75 u-pt--40 u-md-pt--80 u-textCenter u-md-textLeft">
            <h2 class="u-textCenter u-mb--20 personalMeeting-header u-mb--70">{_pageStatic.meeting.titleStore|noescape}</h2>

            <div class="Grid personalMeeting-shop-text u-mb--40 u-md-mb--80">
                <div class="Grid-cell u-size5of12 u-sm-max-size2of2 u-mb--30 u-md-mb--0">
					{$parameters['project']['address']}<br />
					{_pageStatic.meeting.addressBuilding|noescape}<br /><br />					
					
					<b>{control openingHours:today}</b><br /><br />
					
					{control openingHours:listNoTable}<br />
					
					<a class="Button Button--arrow" href="{plink Page:detail, url => 'kontakt'}">{_pageStatic.meeting.howGet}</a>
                </div>
                <div class="Grid-cell u-size7of12 u-sm-max-size2of2">
					<img src="/assets/front/images/layout/osobni-schuzka-1.jpg" class="u-pl--0 u-md-pl--40" />
                </div>
            </div>			
			
            <div class="Grid personalMeeting-shop-text personalMeeting-shop-grid-center u-mb--20 u-md-md--60">
                <div class="Grid-cell u-size7of12 u-sm-max-size2of2 personalMeeting-shop-order-1">
					<img src="/assets/front/images/layout/osobni-schuzka-2.jpg" class="u-pr--0 u-md-pr--40" />
                </div>
                <div class="Grid-cell u-size5of12 u-sm-max-size2of2 personalMeeting-shop-order-2 u-mb--30 u-md-mb--0">
                    {_pageStatic.meeting.bottomText}
                </div>
            </div>

        </div>
    </div>
</div>