{if $result[App\FrontModule\Presenters\SearchPresenter::PRODUCT_RESULT]['count']}
    {control productFiltration}
    <div class="Container">
        <div class="u-mb--20 u-md-mb--50">
            {control productList}
        </div>
        <div class="Grid u-mb--70 u-md-mb--110 u-alignItemsBaseline">
            <div class="Grid-cell u-size3of3 u-textCenter">{control pagination}</div>
        </div>
    </div>
{else}
    {include '../blocks/noResultOfResultType.latte'}
{/if}