{block content}
<div class="Background--gradient-top-100-ebebeb">
    <div class="Container Container--slimer">
        <div class="Basket-step u-pb--90">
            <h2 class="Text-block-title-larger u-textCenter u-mb--20 u-pt--40">{_payment.gateway.pending.title|noescape}..</h2>
            <p class="Text-block-desc u-textCenter">{_payment.gateway.pending.description|noescape}</p>
            <div class="u-pt--10">
                <div class="u-pt--10 u-textCenter">
                    <a href="{plink Homepage:default}" class="Product-link-big">
                        <span class="Link-animation u-md-displayInit Link Link--lineBefore">{_general.page.goToHomepage}<span class="Link--hover"></span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>