<div class="Container Container--slim u-mt--70 u-mb--110">
    <p class="u-textCenter">{_search.result.no.recommendation}</p>
    <hr>
    <p class="u-pt--20 u-mb--10 u-textCenter">{_search.result.no.contactText|noescape}</p>
    {control contact:block}
</div>