day:
    monday: Pondělí
    tuesday: Úterý
    wednesday: Středa
    thursday: Čtvrtek
    friday: Pátek
    saturday: Sobota
    sunday: Neděle
    publicHolidays: Státní svátky

month:
    1: leden
    2: únor
    3: březen
    4: duben
    5: květen
    6: červen
    7: červenec
    8: srpen
    9: září
    10: říjen
    11: listopad
    12: prosinec