preview:
    goldsmithWorkroom:
        title: Kvalita české ruční výroby
        description: 'Šperky navrhujeme a&nbsp;tvoříme v&nbsp;naší JK zlatnické dílně s&nbsp;velkým důrazem na originalitu a&nbsp;trvalou hodnotu. Ty jim dodává mistrovská ruční práce s&nbsp;kvalitním zlatem a&nbsp;vzácnými kameny, které pečlivě vybíráme.'
        description2: 'Nahlédněte přímo pod ruce našich zlatnických mistrů. Práce s&nbsp;kovem a&nbsp;drahými kameny vyžaduje talent od Boha a&nbsp;roky praxe.'
        cta: Přečtěte si náš příběh