title: 'Oblíbené'
noProducts: 'Zatím zde nemáte žádné oblíbené produkty.'
howAdd: 'Produkty do oblíbených můžete přidat kliknutím na symbol srdíčka'
about: 'Tato funkce je praktická především, pokud chcete vybrané produkty vidět vedle sebe nebo si vybrané produkty prohlédnout později.'
