contact:
    title: 'Jsme tu pro vás'
    subTitle: Kontakty
    map: Mapa
    contactUs: Napište nám

menu:
    allAboutBuying:
        title: Vše o nákupu
    ourWeb:
        title: Náš web

rights: Všechna práva vyhrazena

socialMedia:
    title: Sledujte nás
