header: "Nemůžete se rozhodnout?"
help: "Rádi Vám pomůžeme s výběrem"
text: "Kontaktujete nás na e-mailu <b>info@jk.cz</b><br /> nebo telefonu <b>+420 241 091 761</b>.<br /> Vše společně probereme nebo domluvíme <b>osobní<br />schůzku</b> v naší prodejně a zlatnické dílně."
btn: "Rezervovat termín"