{block nextToTitle}
    <a href="{plink PromoArticle:add}" class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Přidat</a>
{/block}
{block contentAdmin}
{control promoArticleList}