database:
	dsn: 'mysql:host=127.0.0.1;dbname=circle_test'
	user: ubuntu
	password:

parameters:
    comgate:
        url: https://payments.comgate.cz/v1.0
        secret: 6564cafbf628aefaf379fb43e05c4329
        storeId: 136537
        test: true