{import 'helpers.latte'}

<form n:name="form" class="exit-watcher">

    {input completed} <em>(Pouze pro interní účely)</em>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                {label commentCompleted/}
                {input commentCompleted}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                {label newUntilTo/}
                {input newUntilTo}
                {include newUntilToHelper}
            </div>
        </div>
	</div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                {label limitedUntilTo/}
                {input limitedUntilTo}
                {include limitedUntilToHelper}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                {label bestsellerUntilTo/}
                {input bestsellerUntilTo}
                {include bestsellerUntilToHelper}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                {label goodpriceUntilTo/}
                {input goodpriceUntilTo}
                {include goodpriceUntilToHelper}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                {label rareUntilTo/}
                {input rareUntilTo}
                {include rareUntilToHelper}
            </div>
        </div>			
    </div>

    <hr>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label>Typ produktu</label> {if !$product}<span class="pull-right"><a href="{plink Product:add}">Změnit</a></span>{/if}
                <input type="text" value="{App\Product\Product::getTypes()[$type]['translation']}" class="form-control" disabled>
            </div>
            <div class="col-xs-6">
                {label state/}
                {input state}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                {label name/}
                {input name}
            </div>
        </div>
    </div>

    <div class="form-group">
        {control form-urlForm}
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                {label externalSystemId/}
                {input externalSystemId}
            </div>
            <div class="col-xs-3">
                {label code/}
                {input code}
            </div>
            <div class="col-xs-3">
                {label stockState/}
                {input stockState}
            </div>
            <div class="col-xs-3">
                {label emptyStockState/}
                {input emptyStockState}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                {label stock/}
                {input stock}
            </div>
            <div class="col-xs-3">
                {label price/}
                {input price}
            </div>
            <div class="col-xs-3">
                {label vat/}
                {input vat}
            </div>
            <div class="col-xs-3">
                {label discountAllowed/}
                {input discountAllowed}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <div class="b-g p-10">
                    {label photo/}
                    {input photo}

                    {if $product instanceof \App\Product\Product && $product->getPhoto() !== NULL}
                        <hr>
                        {capture $link}{link removeMainPhoto!}{/capture}
                        {include image, photo => $product->getPhoto(), folder => $product->getUploadFolder(), link => $link}
                    {/if}
                </div>
            </div>
            <div class="col-xs-8">
                <div class="b-g p-10">
                    {label additionalPhotos/}
                    {input additionalPhotos}

                    {if $additionalPhotos}
                        <hr>
                        {foreach $additionalPhotos as $photo}
                            {capture $link}{link removeAdditionalPhoto!, id => $photo->getId()}{/capture}
                            {include image, photo => $photo->getFileName(), folder => $product->getUploadFolder(),
                            link => $link}
                        {/foreach}
                    {/if}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        {label shortDescription/}
        {input shortDescription}
    </div>

    <div class="form-group">
        {label description/}
        {input description}
    </div>

    {control form-seoForm}
    {control form-ogForm}

    <div class="form-group">
        {input submit}
    </div>

</form>

<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            language : 'cs',
            dateFormat: 'dd.mm.yy',
            minDate: 0
        });
    });
</script>

{define image}
    <div class="thumbnail-body file-wrapper">
        {thumbnailLink 100, 100, $photo, $folder}
        <a href="{$link|noescape}" class="btn btn-danger btn-xs delete-file"><i class="fa fa-trash-o" aria-hidden="true"></i> odstranit</a>
    </div>
{/define}