{block contentAdmin}
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <p>Vyberte jazyk, pro který si přejete vytvořit kategorii.</p>
        {control languageForm}
    </div>
</div>