{block contentAdmin}
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <p>Vyberte typ, pro který chcete produkty řadit.</p>
        {control preRepresentativeProductSortForm}
    </div>
</div>