<ul class="nav nav-tabs m-b-20">
    <li data-nav="Admin:Profile:default"><a href="{plink Profile:default}">Přehled</a></li>
    <li data-nav="Admin:Profile:changePassword"><a href="{plink Profile:changePassword}">Změna hesla</a></li>
</ul>