<div class="form-group">
    {$parentForm->getComponent($name . "-indexSeo")->getLabel()}
    {$parentForm->getComponent($name . "-indexSeo")->getControl()}
    <span class="p-l-10"></span>
    {$parentForm->getComponent($name . "-followSeo")->getLabel()}
    {$parentForm->getComponent($name . "-followSeo")->getControl()}
</div>