<div class="file-wrapper">
    <hr>
    <a href="{$fileManager->getFile($item->getTranslation()->getFile(), App\Catalog\Catalog::getUploadFolder($item))}" target="_blank">{$item->getTranslation()->getFile()}</a><br>
</div>
