<form n:name="form" class="exit-watcher">
    <div class="form-group">
        {label groupId/}
        {input groupId}
    </div>
    <div class="form-group">
        {input submit}
    </div>
</form>