<div class="" style="align-items: center;display: flex;">
    <a href="{plink addToShoppingCart!}" class="Button addToShoppingCart{if $product->getState()->isProduction()} production{/if}" data-product-id="{$product->getProduct()->getId()}" style="padding: 0.85rem 2rem 0.9rem;">{_product.shoppingCart.add.title}</a>
</div>