<form n:name="form">
    <div class="form-group">
        {label associatedCategoryId/}
        {input associatedCategoryId}
    </div>
    <div class="form-group">
        {input submit}
    </div>
</form>