{block content}
<div class="Container Container--slim u-textCenter u-mt--50 u-mb--90">
    <p class="u-fontSize--22 u-mb--10 u-textBold">404</p>
    <h1 class="Text-block-title-larger u-textCenter u-mb--20">{_presenterFront.error.404.title}</h1>
    <p class="u-mt--30">{_presenterFront.error.404.description|noescape}</p>

    <div class="u-pt--30">
        <a href="{plink Homepage:default}" class="Button">{_presenterFront.error.404.homepage.anchor}</a>
    </div>
</div>