{block nextToTitle}
    <a href="{plink Article:add}" class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Přidat</a>
{/block}
{block contentAdmin}
{include 'templates/menu.latte'}
{control articleList}