{block content}

<main class="Background Background--gradient-top-100-ebebeb">
    <div class="Container Container--slim">

        {include 'partials/navigation.latte'}

        <div class="Grid u-pb--90">

            <div class="Grid-cell u-size12of12">
                <section class="Registration-form u-pb--70">

                    <h1 class="User-page-title">{_account.sign.in.title}</h1>

                    {control signInForm:frontendDefault}

                    <div class="u-mt--50">
                        <a href="{plink Sign:up}" class="Product-link-big">
                            <span class="Link-animation u-md-displayInit Link Link--lineBefore">{_account.sign.up.cta}<span class="Link--hover"></span></span>
                        </a>
                    </div>

                    <div class="u-mt--10">
                        <a href="{plink Sign:forgottenPassword}" class="Product-link-big">
                            <span class="Link-animation u-md-displayInit Link Link--lineBefore">{_account.sign.password.forgotten.question}<span class="Link--hover"></span></span>
                        </a>
                    </div>

                </section>
            </div>

        </div>

    </div>
</main>