{block contentAdmin}
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        {control variantGenerateForm:group}
        {if $parameterGroup}
            <hr>
            {control variantGenerateForm}
        {/if}
    </div>
</div>