{block contentAdmin}
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <p>Vyberte typ produktu.</p>
        <form n:name="productTypeForm">
            <div class="form-group">
                {label type/}
                {input type}
            </div>
            <div class="form-group">
                {input submit}
            </div>
        </form>
    </div>
</div>