
<div class="MeetingPopup-wrapper">
	<div class="MeetingPopup-close">
		<svg role="img" class="Icon Breadcrumb-icon">
			<use xlink:href="#symbol-close"></use>
		</svg>		
	</div>	
	<div class="MeetingPopup-header">{_meetingPopup.header}</div>
	<b>{_meetingPopup.help}</b>
	<br /><br />
	{_meetingPopup.text|noescape}
	<br /><br />
	<a class="u-textUppercase Button Button--arrow Button--white " href="{plink Page:detail, url => 'kontakt'}">{_meetingPopup.btn}</a>	
</div>