{if $holidayCustomerDiscountRateActive}
<div id="strip" class="bStrip">
    <div class="Container bStrip__container u-textCenter">
        Využijte <b>{$loggedCustomerDiscountRate}% VÁNOČNÍ ZVÝHODNĚNÍ K NÁKUPU ŠPERKŮ A HODINEK</b> pro <a href="/ucet/prihlaseni">registrované zákazníky</a>. Akce trvá do 15.1.2023.
    </div>
</div>
{/if}