<ul class="nav nav-tabs">
    <li data-nav="Admin:Article:default"><a href="{plink Article:default}">{='presenter.admin.article.default'|translate}</a></li>
    <li data-nav="Admin:ArticleCategory:default"><a href="{plink ArticleCategory:default}">{='presenter.admin.articlecategory.default'|translate}</a></li>
</ul>