                            <div class="CategoryBox-bannerContainer">
	                            <div class="CategoryBox-contentDark">
								{_banner.angels.text1|noescape}
								<a href="">{_banner.angels.link1|noescape}</a>.
								{_banner.angels.text2|noescape}
								<a href="">{_banner.angels.link2|noescape}</a>.
		                        </div>
	                            <div class="CategoryBox-img" style="background-image: url(/www/assets/front/images/banner/angels.jpg);">
		                        </div>
	                        </div>