                            <div class="CategoryBox-bannerContainer">
	                            <div class="CategoryBox-contentDark CategoryBox-smaller">
									<h3>{_banner.design.header}</h3>
									{_banner.design.text|noescape}
									<a class="u-textUppercase Button Button--arrow CategoryBox-bannerBtn" href="{plink Page:detail, url => 'design-vyroba'}">{_banner.design.button}</a>
		                        </div>						
	                            <div class="CategoryBox-img" style="background-image: url(/www/assets/front/images/banner/design.jpg);">
		                        </div>
	                        </div>