                            <div class="CategoryBox-bannerContainer">
	                            <div class="CategoryBox-contentDark">
									<h3>{_banner.help.header}</h3>
{_banner.help.text|noescape}
<a class="u-textUppercase Button Button--arrow CategoryBox-bannerBtn" href="{plink Page:detail, url => 'kontakt'}">{_banner.help.button}</a>
		                        </div>						
	                            <div class="CategoryBox-img" style="background-image: url(/www/assets/front/images/banner/help.jpg);">
		                        </div>
	                        </div>