                            <div class="CategoryBox-bannerContainer">
	                            <div class="CategoryBox-img" style="background-image: url(/www/assets/front/images/banner/workshop.jpg);">
		                        </div>
	                            <div class="CategoryBox-contentLight">
									<h3>{_banner.workshop.header|noescape}</h3>
										{_banner.workshop.text|noescape}<br />
										<a class="u-textUppercase Button Button--arrow CategoryBox-bannerBtn" href="{plink Page:detail, url => 'prodejna'}">{_banner.workshop.button}</a>
		                        </div>						
	                        </div>