<div class="Container Container--wide u-mb--0 u-md-mb--100">
	<div class="CategoryArticles-wrapper-left">
		<div>
			<h2>{_category.categoryArticles.decision.title}</h2>
			{_category.categoryArticles.decision.text}
			<br /><br />
			<a class="Button Button--arrow" href="{plink Article:detail, url => 'jak-vybrat-zasnubni-prsten' }">{_category.categoryArticles.decision.button}</a>
		</div>

		<div>
			<img src="/assets/front/images/banner/category_articles/decision.jpg" />
		</div>
	</div>
	
	
	<div class="CategoryArticles-wrapper-right">
		<div>
			<img src="/assets/front/images/banner/category_articles/own.jpg" />
		</div>
		
		<div>
			<h2>{_category.categoryArticles.own.title}</h2>
			{_category.categoryArticles.own.text}
			<br /><br />
			<a class="Button Button--arrow" href="{plink Page:detail, url => 'zakazkova-vyroba'}">{_category.categoryArticles.own.button}</a>
		</div>
	</div>	
	
</div>